Library
Logs
UserSettings
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
AssistantCoreSDKEditor.csproj
AssistantCoreSDKRuntime.csproj
Facebook.Wit.Conduit.csproj
Facebook.Wit.Conduit.Editor.csproj
Facebook.Wit.Dictation.csproj
Facebook.Wit.Dictation.Editor.csproj
Facebook.Wit.Editor.csproj
Facebook.Wit.TTS.csproj
Facebook.Wit.TTS.Editor.csproj
Facebook.Wit.TTS.Samples.csproj
Facebook.WitAI.csproj
LeapMotion.LeapCSharp.csproj
LitJson.csproj
Oculus.AudioManager.Audio.Editor.csproj
Oculus.AudioManager.csproj
Oculus.AudioManager.Utils.Editor.csproj
Oculus.Interaction.csproj
Oculus.Interaction.Editor.csproj
Oculus.Interaction.InterfaceSupport.csproj
Oculus.Interaction.Samples.csproj
Oculus.Interaction.Samples.Editor.csproj
Oculus.LipSync.csproj
Oculus.LipSync.Editor.csproj
Oculus.Platform.csproj
Oculus.Platform.Editor.csproj
Oculus.Spatializer.csproj
Oculus.Spatializer.Editor.csproj
Oculus.Voice.Demo.csproj
Oculus.VR.csproj
Oculus.VR.Editor.csproj
Oculus.VR.Scripts.Editor.csproj
Unity.XR.Management.Samples.csproj
Unity.XR.Management.Samples.Editor.csproj
VoiceSDK.Dictation.Editor.csproj
VoiceSDK.Dictation.Runtime.csproj
VoiceSDK.Editor.csproj
VoiceSDK.Runtime.csproj
openmg-2.0-metamersive.sln
open-medical-gesture.sln
.vsconfig
Temp
.vs
obj
Experimental
Experimental.meta
*.csproj
*.htm
UnityPackage
